.table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  border-color: black;
  font-size: 14px;
}

.table td {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.table th {
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

