h1{
  text-align: center;
}

.submit-button{
  display: flex;
  margin: 0 auto;
}
.content{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
}
.data-info label{
  margin-right: 1.8rem;  
}

.form{
  width:40rem;
  margin: 0 auto;
}

label{
  margin-right: 1rem;
}

.radio-field{
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#radio-options{
  margin-left: 1rem;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#radio-options input{
  margin-right: .5rem;
}
#radio-options p{
  margin-right: .5rem;
}

.size-box{
  width: 100%;
}

select{
  width: 10rem;
}

